<div class="sidebar" [class.collapsed]="Collapsed">

<!-- Dashboard -->
<div class="menu-item" routerLink="/superadmin/dashboard" (click)="selectMenu('Dashboard')">
<i class="fas fa-home"></i>
<span *ngIf="!Collapsed">Dashboard</span>
</div>


<!-- Control Panel -->
<div class="menu-item" (click)="toggleControlPanel()">
<i class="fas fa-sliders-h"></i>
<span *ngIf="!Collapsed">Control Panel</span>
<i *ngIf="!Collapsed" class="fas fa-chevron-down ms-auto"></i>
</div>

<div class="submenu" *ngIf="controlPanelOpen && !Collapsed">

<!-- <div class="submenu-item" (click)="selectMenu('CompanyMaster')">
Company Management
</div> -->
<div class="submenu-item"
     routerLink="/superadmin/create-company"
   routerLinkActive="active-menu"  >
  Create Company
</div>
<div class="submenu-item"
     routerLink="/superadmin/company-list"
    routerLinkActive="active-menu" >
  Company management
</div>
<div class="submenu-item"
     routerLink="/superadmin/company-listing"
    routerLinkActive="active-menu" >
  Total companies
</div>
<div class="submenu-item"
     routerLink="/superadmin/subscription-plans"
    routerLinkActive="active-menu" >
  subscription Plans
</div>


<!-- <div class="submenu-item" (click)="selectMenu('DesignationMaster')">
Designation Master
</div>

<div class="submenu-item" (click)="selectMenu('BranchMaster')">
Branch / Region
</div>

<div class="submenu-item" (click)="selectMenu('HolidayMaster')">
Holiday Calendar
</div>

<div class="submenu-item" (click)="selectMenu('LeaveTypes')">
Leave Types
</div>

<div class="submenu-item" (click)="selectMenu('ExpenseCategory')">
Expense Categories
</div>

<div class="submenu-item" (click)="selectMenu('AssetCategory')">
Asset Categories
</div>

<div class="submenu-item" (click)="selectMenu('ProjectMaster')">
Project Master
</div>

<div class="submenu-item" (click)="selectMenu('AnnouncementCategory')">
Announcement Categories
</div> -->

</div>


<!-- System & Security -->
<div class="menu-item" (click)="toggleSecurity()">
<i class="fas fa-shield-alt"></i>
<span *ngIf="!Collapsed">System & Security</span>
<i *ngIf="!Collapsed" class="fas fa-chevron-down ms-auto"></i>
</div>

<div class="submenu" *ngIf="securityOpen && !Collapsed">

<div class="submenu-item" (click)="selectMenu('Users')">
User Management
</div>

<div class="submenu-item" (click)="selectMenu('Roles')">
Role Management
</div>

<div class="submenu-item" (click)="selectMenu('Permissions')">
Permissions
</div>

<div class="submenu-item" (click)="selectMenu('LoginLogs')">
Login Activity Logs
</div>

<div class="submenu-item" (click)="selectMenu('EmailTemplates')">
Email Templates
</div>

<div class="submenu-item" (click)="selectMenu('NotificationSettings')">
Notification Settings
</div>

<div class="submenu-item" (click)="selectMenu('AuditLogs')">
Audit Logs
</div>

</div>

</div>