.dashboard-header{
margin-left:260px;
padding:20px;
}

.dashboard-title{
font-weight:600;
}

.card{
border-radius:8px;
}

.fc-toolbar-title{
font-size:18px;
font-weight:600;
}
.dashboard-header{
margin-left:260px;
padding:20px;
}

.dashboard-title{
font-weight:600;
}

.card{
border-radius:8px;
}