.sidebar{
width:250px;
background:#1e293b;
color:white;
height:100vh;
padding:10px;
}

.menu-title{
font-weight:bold;
padding:10px;
cursor:pointer;
}

.submenu{
margin-left:10px;
}

.submenu-item{
padding:8px;
cursor:pointer;
color:#cbd5f5;
}

.submenu-item:hover{
background:#334155;
}